<app-temperature-slider (temperature)="onSetTemperature($event)"></app-temperature-slider>

<div class="grid grid-cols-2">
  <div class="border-t-[1px] border-l-[1px] border-gray-700 border-dashed">
    <app-damage-form [item]="bottoms" [positionNumber]="0" [temperature]="temperature"></app-damage-form>
  </div>
  <div class="border-t-[1px] border-l-[1px] border-r-[1px] border-gray-700 border-dashed">
    <app-damage-form [item]="bottoms" [positionNumber]="1" [temperature]="temperature"></app-damage-form>
  </div>
  <div class="border-t-[1px] border-l-[1px] border-gray-700 border-dashed">
    <app-damage-form [item]="bottoms" [positionNumber]="2" [temperature]="temperature"></app-damage-form>
  </div>
  <div class="border-t-[1px] border-l-[1px] border-r-[1px] border-gray-700 border-dashed">
    <app-damage-form [item]="bottoms" [positionNumber]="3" [temperature]="temperature"></app-damage-form>
  </div>
  <div class="border-t-[1px] border-l-[1px] border-gray-700 border-dashed">
    <app-damage-form [item]="bottoms" [positionNumber]="4" [temperature]="temperature"></app-damage-form>
  </div>
  <div class="border-t-[1px] border-l-[1px] border-r-[1px] border-gray-700 border-dashed">
    <app-damage-form [item]="bottoms" [positionNumber]="5" [temperature]="temperature"></app-damage-form>
  </div>
  <div class="border-[1px] border-gray-700 border-dashed">
    <app-damage-form [item]="bottoms" [positionNumber]="6" [temperature]="temperature"></app-damage-form>
  </div>
  <div class="border-[1px] border-gray-700 border-dashed">
    <app-damage-form [item]="bottoms" [positionNumber]="7" [temperature]="temperature"></app-damage-form>
  </div>
</div>


