<div class="grid grid-cols-3 min-h-max md:grid-cols-4">
  <div class="col-start-1 bg-gray-200 flex flex-col items-center justify-center">
    <label class="text-[0.5em] md:text-xs">ダメージ</label>
    <input type="number" id="damage{{positionNumber}}" [formControl]="damageFormControl" min="0" value="0" class="w-11/12 form-input h-6 text-base">
  </div>
  <div class="col-start-2 col-span-2 min-h-max md:col-span-3">
      <app-chart-canvas 
        [bullion]="item?.bullion" 
        [successZone]="item?.successZone" 
        [positionNumber]="positionNumber" 
        [damage]="damageFormControl.value"
        [temperature]="temperature"
      ></app-chart-canvas>
  </div>
</div>
